.page-section {

  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--blue {
    padding-top: 1.5rem;
    background-color: $mainBlue;
    color: #FFF;

    @mixin atMedium {
      padding-left: 3rem;
      padding-right: 3.5rem;
    }
  }
}